@import 'mixin';

.workspace-content {
  width: 100%;
  flex: 1 1 0;
  background: $black_1;
  position: relative;
}

.workspace-subPage {
  height: 100%;
  width: 100%;
  overflow: hidden;
  opacity: 0;
  position: absolute;
  z-index: 1;
}

.workspace-subpage_active {
  opacity: 1;
  z-index: 10;
}
