@import 'mixin';

.sidepage-step {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: $black_2;
  overflow: hidden;
  border-radius: rem(1);
}

.sidepage-stepItem {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-self: center;
  height: calc(100% - 2px);
  background: $black_1;
  margin: 1px 1px 1px 0;
}

.sidepage-stepItem:nth-child(1) {
  margin-left: 1px;
}

.sidepage-stepItem_active {
  box-shadow: 0 0 0 1px $blue_1;
  cursor: pointer;
}

.sidepage-stepText {
  display: flex;
  justify-content: center;
  align-self: center;
}
