@import 'mixin';

.dataDragItem-main {
  display: flex;
  align-items: center;
  transition: all .3s;
  background: transparent;
  height: rem(30);
  width: 100%;
}

.dataDragItem-main:hover {
  user-select: none;
  background: $black_1;
}

.dataDragItem-main_move:hover {
  cursor: move;
}

.dataDragItem-text {
  margin: 0 0 0 rem(10);
  overflow: hidden;
  width: rem(180);
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}
